.detailsContainer {
  position: relative;
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
  padding: 1% 0;
}
.detailsBox {
  width: 1280px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 5px;
  border-bottom: 1px solid #4f4f4f;
}

.detailsBoxInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 700px;
  margin-left: 20px;
}
.detailsBoxInfoScore {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 20px;
}
.info {
  padding: 1%;
  margin-left: 5%;
  display: flex;
  justify-content: start;
  gap: 40px;
}
.infoLinks {
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  color: black;
  &:hover {
    color: #b40505;
  }
}
.goBackBtn {
  width: 40px;
  height: 40px;
  position: absolute;
  left: -5%;
  border: none;
  background-color: inherit;
  cursor: pointer;
  font-size: 24px;
  color: #4f4f4f;
}
.goBackBtn:hover {
  color: rgb(193, 13, 13);
}

.detailsBoxPoster {
  width: 300px;
}

/* Progress Score */

.progressScore {
  width: 60px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: conic-gradient(#32df07 0 var(--p), #e33e03);
  transition: --p 1s cubic-bezier(0.75, 0.1, 0.75, 1);
  position: relative;
  cursor: progress;
}
@property --p {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 5%;
}
.progressScore::before {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: inherit;
  background: rgb(255, 255, 255);
}
.progressScoreText {
  margin: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: rgb(113, 152, 34);
}
